<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="/active">Active Items</a>
            </li>
            <li>
                <a routerLink="/completed">Completed Items</a>
            </li>
        </ul>
    </div>
</div>
</nav>