<br>
<form #f="ngForm" (ngSubmit)="addTodo(f)">
  <div class="form-group">
    <label for="title">Title</label>
    <input ngModel #title="ngModel" type="text" name="title" id="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="desc">Desc</label>
    <textarea ngModel #desc="ngModel" name="desc" id="desc" cols="30" rows="5" class="form-control"></textarea>
  </div>
  <div class="radio row">
      <div class="col-md-1">
        <label>
          <input ngModel type="radio" name="label" value="#e53935">Red
        </label>
      </div>
      <div class="col-md-1">
        <label>
          <input ngModel type="radio" name="label" value="#039be5" >Blue
        </label>
      </div>
      <div class="col-md-1">
        <label>
          <input ngModel type="radio" name="label" value="#43a047">Green
        </label>
      </div>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>

<h2 class="jumbotron">
  Active Todos
  <br>
  <small>
    {{ todosArray?.length }} Items
  </small>
</h2>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let todo of todosArray; index as i">
    <div class="todo-head row" [style.backgroundColor]="todo.label">
      <div class="col-md-2">
        {{ todo.status }}
      </div>
      <div class="col-md-2">
          {{ todo.priority }}
      </div>
      <div class="col-md-2">
          {{ todo.addedOn | date }}
      </div>
      <div class="col-md-2">
          
      </div>
      <div class="col-md-2">

      </div>
    </div>
    <h3>{{ todo.title }}
        <div class="pull-right">
            <button class="btn btn-primary" (click)="completeTodo(todo)">Complete</button>
            <button class="btn btn-danger" (click)="deleteTodo(todo)" >Delete</button>
        </div>
    </h3>
    <p>{{ todo.desc }}</p>
    
  </li>
</ul>